html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans KR', sans-serif;
	line-height:1.25em;
}

g.texts.zoomable.label-txt {
		display:inline;
    background-color: #fff;
    z-index: 100;
		box-shadow: 0 0 0 10px #fff;
}

#menu {
  position: absolute;
  bottom: 2em;
  left: 2em;
}

path {
  fill-opacity: 0.8;
  stroke-opacity: 0;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/*svg {
      background-color: #000000;
  }*/


.c.cf {
    font-family: Noto Sans KR;
    font-weight: 400;
    font-size: 0.7rem;
}

#attributepane {
  display: block;
	display: none;
  position:absolute;
  height:auto;
  bottom:50px;
  top:50px;
  right:50px;
	width: 250px;
	background-color: #fff;
	margin: 0;
	word-wrap: break-word;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	background-color:rgba(255, 255, 255,0.8);
	border: 1px solid black;
	padding: 0px 18px 0px 18px;
	z-index: 1;
}

#attributepane .text {
  height:100%;
}

#attributepane .headertext {
  color: #000;
  margin-bottom: 0px;
  height: 14px;
  border-bottom: 0px solid #999;
  padding: 0px 0 10px 0;
  font-size:16px;
  font-weight:bold;
}

#attributepane .returntext em {
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  background-position: -91px -13px;
  float: left;
}

#attributepane .returntext span {
  padding-left: 5px;
  display: block;
}

#attributepane .close {
  padding-left: 14px;
  margin-top: 10px;
}

#attributepane .close .c {
  border-top: 2px solid #999;
  padding: 10px 0 14px 0;
}

#attributepane .close em {
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -11px -13px;
display: block;
width: 24px;
height: 16px;
float: left;
}

#attributepane .close span {
display: block;
width: 151px;
float: left;
}

#attributepane .nodeattributes {
  display:block;
  height:85%;
  overflow-y: scroll;
  overflow-x: hidden;
/*	border-bottom:1px solid #999; */
}

#attributepane #name {
  font-family: Noto Sans KR;
  font-size: 1.2rem;
  padding-top: 7%;
  padding-bottom: 14%;
  font-weight: 500;
}

#attributepane #data {
  color:#808080;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.7rem;
/*  padding-left: 20%; */
}

#attributepane #data .plus {
  background-repeat: no-repeat;
  background-image: url('../images/sprite.png');
  background-position: -171px -122px;
  width: 22px;
  height: 20px;
  float: left;
  display: block;
}

#attributepane #link {
  padding: 0 0 0 4px;
  line-height: 1.4;
  font-weight: 200;
	font-size: 0.8rem;
}

#attributepane #link li {
  padding-top: 2px;
  cursor:pointer;
}

#attributepane #p {
  padding-top: 20%;
  font-weight: bold;
  font-size: 0.8rem;
}

.left-close {
  /*background-image: url('../images/exit.svg');*/
  margin-left:-10px;
  z-index:99999;
  cursor: pointer;
  padding-left:31px;
  line-height:36px;
  background-repeat: no-repeat;
  /*margin-bottom:25px;*/
  font-weight: bold;
  font-size:10px;
}
